:root {
  --black: #212529;
  --white: aliceblue;
  --light-grey: rgba(248, 249, 250, 0.5);
  --grey: #343a40;
  --red: #c92a2a;
  --orange: #e8590c;
  --yellow: #ffd43b;
  --green: #37b24d;
  --blue: #1971c2;
  --purple: #862e9c;
  --transition-speed: 0.5s;
}

* {
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--grey);
  height: 100vh;
  width: 100vw;
}

.App .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212529;
  width: 100%;
  max-width: 60rem;
  height: 44rem;
  margin: 6rem 2rem;
  border-radius: 0.8rem;
}

.App .container .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 8rem;
  color: var(--white);
  font-size: 2.4rem;
}

.App .container .timer span {
  margin: 0 0.4rem;
  font-weight: 700;
}

.App .container .loser-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4rem;
}

.App .container .loser-container h1, .App .container .loser-container p {
  margin: 0;
  color: var(--white);
}

.App .container .loser-container h1 {
  font-size: 3.6rem;
  margin-bottom: 0.5rem;
}

.App .container .loser-container p {
  margin-bottom: 2rem;
  font-size: 2.8rem;
}

.App .container .loser-container button {
  height: 4rem;
  width: 24rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: var(--red);
  color: aliceblue;
}

.App .container .winner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4rem;
}

.App .container .winner-container h1, .App .container .winner-container p {
  margin: 0;
  color: var(--white);
}

.App .container .winner-container h1 {
  font-size: 3.6rem;
  margin-bottom: 0.5rem;
}

.App .container .winner-container p {
  margin-bottom: 2rem;
  font-size: 2.8rem;
}

.App .container .winner-container button {
  height: 4rem;
  width: 24rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: var(--green);
  color: aliceblue;
}

.App .container .choice-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 4rem;
  margin-top: 4rem;
}

.App .container .choice-btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8rem;
  height: 4.4rem;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.App .container .choice-btns button:hover {
  cursor: pointer;
}

.App .container .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--light-grey);
  width: 6.4rem;
  height: 6.4rem;
  margin: 6rem 0 6.4rem;
  color: var(--white);
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  z-index: 3;
}

.App .container .score::before, .App .container .score::after {
  content: '';
  background-color: black;
  width: 10rem;
  height: 10rem;
  position: absolute;
  -webkit-transform: translate(50% 50%);
          transform: translate(50% 50%);
}

.App .container .score::before {
  z-index: -1;
  border-radius: 45%;
  -webkit-animation: rotate-block1 infinite 5s linear;
          animation: rotate-block1 infinite 5s linear;
}

.App .container .score::after {
  z-index: -1;
  border-radius: 47%;
  -webkit-animation: rotate-block2 infinite 6s linear;
          animation: rotate-block2 infinite 6s linear;
}

.App .container .current-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.App .container .current-game span {
  font-size: 2rem;
  text-transform: uppercase;
}

.App .container .instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 1rem 2.4rem;
  line-height: 1.6;
}

.App .container .instructions button {
  margin: 2rem auto;
  height: 4rem;
  width: 12rem;
  background-color: var(--green);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
}

@-webkit-keyframes rotate-block1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-block1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-block2 {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-block2 {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=styles.css.map */