:root {
    --black: #212529;
    --white: aliceblue;
    --light-grey: rgba(248, 249, 250, 0.5);
    --grey: #343a40;
    --red: #c92a2a;
    --orange: #e8590c;
    --yellow: #ffd43b;
    --green: #37b24d;
    --blue: #1971c2;
    --purple: #862e9c;
    --transition-speed: 0.5s;
}

* {
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

.App {
    display: flex;
    justify-content: center;
    background-color: var(--grey);
    height: 100vh;
    width: 100vw;

    .container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        background-color: #212529;
        width: 100%;
        max-width: 60rem;
        height: 44rem;
        margin: 6rem 2rem;
        border-radius: 0.8rem;

        .timer {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 8rem;
            color: var(--white);
            font-size: 2.4rem;

            span {
                margin: 0 0.4rem;
                font-weight: 700;
            }
        }

        .loser-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 4rem;

            h1, p {
                margin: 0;
                color: var(--white);
            }
            
            h1 {
                font-size: 3.6rem;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 2rem;
                font-size: 2.8rem;
            }

            button {
                height: 4rem;
                width: 24rem;
                border: none;
                border-radius: 0.5rem;
                font-size: 2.4rem;
                font-weight: 700;
                background-color: var(--red);
                color: aliceblue;
            }
        }

        .winner-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 4rem;

            h1, p {
                margin: 0;
                color: var(--white);
            }
            
            h1 {
                font-size: 3.6rem;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 2rem;
                font-size: 2.8rem;
            }

            button {
                height: 4rem;
                width: 24rem;
                border: none;
                border-radius: 0.5rem;
                font-size: 2.4rem;
                font-weight: 700;
                background-color: var(--green);
                color: aliceblue;
            }
        }

        .choice-btns {
            display: flex;
            justify-content: space-around;
            gap: 4rem;
            margin-top: 4rem;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8rem;
                height: 4.4rem;
                font-size: 3rem;
                margin: 0;
                padding: 0;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .score {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--light-grey);
            width: 6.4rem;
            height: 6.4rem;
            margin: 6rem 0 6.4rem;
            color: var(--white);
            font-size: 4rem;
            font-weight: 700;
            position: relative;
            z-index: 3;

            &::before, &::after {
                content: '';
                background-color: black;
                width: 10rem;
                height: 10rem; 
                position: absolute;
                transform: translate(50% 50%);
            }

            &::before {
                z-index:-1;
                border-radius: 45%;
                animation: rotate-block1 infinite 5s linear;
            }
            
            &::after {
                z-index: -1;
                border-radius: 47%;
                animation: rotate-block2 infinite 6s linear;

            }

        }
        .current-game {
            display: flex;
            justify-content: center;
            gap: 2rem;

            span {
                font-size: 2rem;
                text-transform: uppercase;
            }
        }

        .instructions {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: var(--white);
            font-weight: 700;
            font-size: 1.2rem;
            margin: 1rem 6rem;
            line-height: 1.6;

            button {
                margin: 2rem auto;
                height: 4rem;
                width: 12rem;
                background-color: var(--green);
                border: none;
                border-radius: 0.5rem;
                color: var(--white);
                font-size: 2rem;
                font-weight: 700;
            }
        }
    }
}

@keyframes rotate-block1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-block2 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}